* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* body{
    background-color: black;
} */

.nav{
    /* border:solid 2px red; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content:space-between; */
    justify-content:space-around;
    /* justify-content:space-evenly; */
    align-items: center;
    /* background-color:#fb7b15; */
    position: fixed;
    z-index: 1000;
    background-color: white;


    

}

.nav a{
     text-decoration: none; /*remove underline from anchor tag */
     color: black;/*remove blue color*/
     transition: all 1s ease;
   
}

.nav-item{
    position: relative;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
    position: relative;
    
    
}
.popup-box {
   opacity: 0;  /*hidden */
  transform: translate(-50%, 10px);
  transition: all 0.8s ease;
  display: block; /* always block, but hidden via opacity */
  pointer-events: none;

  position: absolute;
  /* top: 120%; */
  left: 50%;
  background-color: #e86b0e;
  color:white;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 16px;
  font-family: "Poppins";
  white-space: nowrap;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 999;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 80px;
}


.nav-item:hover .popup-box {
  opacity: 1;
  transform: translate(-50%, 0px);
  pointer-events: auto;
  padding: 20px;
  
  
}

/* hover effect */
.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #fb7b15;
    transition: width 0.3s ease;
}

/* When hovered, expand the underline and change color */
.nav a:hover::after {
    width: 100%;
}

.nav a:hover {
    color: #fb7b15;
}

.nav ul{
    display:flex;
    list-style: none; /*remove bullet points */
    gap: 50px;
    
}

.nav img {
     margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
}

.nav button {
    /* line-height: 35px; */
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    background: #fb7b15;
    padding: 10px 20px;
}

.search-icon{
    color: #fb7b15;
    margin-right: -175px;
    font-size:larger
    /* border: solid 2px black; */
}

/* ------------SLIDER--------- */
 .slider{
    position: relative;
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    
 }

 .slider-content{
/* width: 650px;  */
 display: flex;   
 
 flex-direction:column;
 justify-content: center;
 align-items: center;
position: absolute;

/* border: solid 2px gold; */
 }
.slider img {
    width: 100%;
    height: 100%;

}

.slider-content p {
    color: #f7f7f7;
}

.slider-content span {
    color: #fb7b15;
}

.slider-buttons {
    display: flex;
    gap: 20px; /* spacing between buttons */
    margin-top: 10px;
}

/* Orange button */
.orange-btn {
    padding: 10px 20px;
    background-color: #fb7b15;
    color: white;
    border: none;
    font-family: "poppins";
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orange-btn:hover {
    background-color: #e86b0e;
}

/* White button */
.white-btn {
    padding: 10px 20px;
    background-color: white;
    color: #fb7b15;
    /* border: 2px solid #fb7b15; */
    font-family: "Poppins";
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.white-btn:hover {
    background-color: #fb7b15;
    color: white;
}

.slider-title{
    font-size: 30px;
    font-family: "Poppins";
     font-weight: 800;
}

.slider-p{
    font-family: "poppins";
}
/* ------------SLIDER--------- */
/* ------------info-card-content--------- */
.info-card{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    height: 150px;
    /* border: solid 2px blue; */
    gap: 20px;
    box-shadow: 0 0 20px rgb(40 40 40 / 20%);
}

.animation{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    /* border: solid 2px green; */
    /* margin-left: 20px; */
    display: flex;
    gap: 20px;
}

.animation:hover{
      transform: scale(1.08);
      /* background-color: #e86b0e; */
}

.info-card-content{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
    /* height: 100px; */
    /* border: solid 2px burlywood; */
    /* margin-top: 10px; */
    margin-right: 155px;
    cursor: pointer;
    
}

.info-img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
}


.icc-p1{
    /* line-height: 20px; */
    color:black;
    font-weight: 800;
    font-family: "Poppins";
    transition: color 0.5s ease;
}
.icc-p1:hover{
 color: #e86b0e;
 
}

.icc-p2{
    font-size: 14px;
    line-height: 25px;
    color: #717171;
    font-weight: 300;
    font-family: "Poppins";
}

.iccc-p1{
    /* line-height: 20px; */
    color:black;
    font-weight: 800;
    font-family: "Poppins";
    transition: transform 1s ease;
}
.d{
    display: flex;
    /* border: solid 2px blue; */
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #f3f3f3;
    width: 350px;
    height: 120px;
    /* margin-left: 400px; */
    /* padding: 10px; */
    
}
.d-content{
    display: flex;
    flex-direction: column;
    /* border: solid 2px green; */
    /* margin-right: -300px; */
}
/* -----------info-card-content--------- */

/* -------------middle-card------------- */
.m-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}


.choose-us{
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    width: 400px;
    /* height: 100%; */
    /* border: solid 2px green ; */
    line-height: 100px;
    /* margin-left: 100px; */
    margin-top: 70px;
}

.m-heading{
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    font-family: "Poppins";
    

    

}

.m-sub-heading{
    font-size: 14px;
    line-height: 30px;
    color: #2f2c2b;
    font-weight: 400;
    font-family: "Poppins";
    /* text-align: center; */
    
}

.m-text{
    font-size: 14px;
    line-height: 25px;
    color: #2a2119;
    font-weight: 400;
    font-family: "Poppins";
    /* text-align: center; */
    max-width: 700px;
    /* margin: 0 auto; */
    margin-top: 20px;
}

.choose-us button{
   color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    background: #fb7b15;
    padding: 10px 20px;
    width: 115px;
    height: 50;
    border-radius: 5px;

}

.card1 {
    display: flex;
    flex-direction: column;
   
    /* border: solid 2px #fb7b15; */
    /* padding: 10px; */
    /* margin-top: 70px; */
    /* margin-left: 46px; */
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
     width: 400px;
    height: 411px;

}

.card1:hover {
    transform:translate(-5px, -20px)
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */
}

.card1-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 28px;
  
}


.card1-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.card1 .con-icon {
    width: 75px;
    height: 75px;
}

.m-h5{
    font-size: 18px;
    line-height: 30px;
    color: #241e1e;
    font-weight: 600;
    font-family: "Poppins";
    text-align: left;
}

.m-p{
    font-size: 12px;
    line-height: 25px;
    color: #717171;
    font-weight: 300;
    font-family: "Poppins";
}



/* -------------middle-card------------- */

/* --------about-us-card-------------- */
 .abt-us-bg{
    background-image: url("/img/about_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    /* border: solid 2px red; */
    position: relative;
 }
 
 .container{
    display: flex;
    justify-content: center;
    align-items: center;


 }

 .left {
  overflow: hidden; /*Ensures zoom doesn't overflow container */
  /* display: flex; */
   /* align-items: center; */
  /* justify-content: center; */
  color: black;
  transition: transform 0.8s ease, filter 0.8s ease;
  transform-origin: center;
} 
.left:hover {
  transform: scale(1.1);
  filter: brightness(1.05) contrast(1.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* .left {
  opacity: 0;
  transform: scale(0.95) rotate(0deg);
  transition: transform 1s ease, opacity 1s ease;
}
.left.in-view {
  opacity: 1;
  transform: scale(1.1) rotate(1deg);
} */


.left img {
 /* position: relative; */
  width: 100%;
  max-width: 650px;
  
}



/* -----failed---- */

/* .left::before{
    opacity: 0;
    position:absolute;
    z-index: 1;
    content: '';
    width: 400px;
    height: 4px;
    border: solid 2px red;
    background-color: #fb7b15;
    rotate:  90deg;
    margin-top: 20px;
    transition: 100ms ease-in-out;
    cursor: pointer;
    
} */
/* .left:hover::after{
    width: 0;  
    opacity: 1;
} */

/* -----failed---- */

 .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    height: 300px;
    padding: 10px 10px 10px 70px;
    background-color: #e86b0e;
    color: white;
    justify-content: center;

  }
  .right h3{
    font-family: "poppins";
    font-size: 25px;
  }

 .right h6{
    font-family: "poppins";
    font-weight: 300;
    font-size: 14px;
 }
 .right p{
    font-family: "poppins";
    font-weight: 200;
    font-size: 14px;
 }
 .right h5{
    font-family: 'Allison', cursive;
    font-size: 30px;
    /* line-height: 30px; */
 }

/* --------about-us-card-------------- */

/* ---------track--------------- */

.container-2{
     position: relative;
    background-image: url('/img/track_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     overflow: hidden;
    /* flex-direction: column; */
    
    
    

}
.container-2::before {
  content: '';
  position: absolute;
  inset: 0;
 
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 0;
}
/* -----------Quotation Form Styles------------ */

.quote-form {
  opacity: 0.9;
  width: 50%;
  height: 30%;
  max-width: 900px;
  background: #fff;
  padding: 30px;
  line-height: 22px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  
}

.tab-buttons {
  display: flex;
  margin-bottom: 20px;
  /* border: solid 2px red; */
}

.tab {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background: #fff;
  border-bottom: 2px solid #ccc;
  color: #000;
  transition: all 0.8s ease;
}

.tab:hover{
    background-color: #e86b0e;
    color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    /* transform: scale(1.05); */
    transform: translate(-2px,-2px);
}

.tab.active {
  color: #fb7b15;
  border-bottom: 2px solid #fb7b15;/
}
.tab.active:hover {
  color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
   transform: translate(-2px,-2px);
}

.form-content h3 {
  font-family: "Poppins";
  font-size: 18px;
  margin: 20px 0 10px;
  color: #2a2119;
}

.input-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 15px;
  
}

.input-group input,
.input-group select {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  font-family: "Poppins";
  font-size: 14px;
  border: 1px solid #ccc;
  /* border: none; */
}

.checkbox-group {
  display: flex;
  gap: 30px;
  margin: 15px 0 25px;
  font-family: "Poppins";
}

.orange-btn {
  padding: 12px 25px;
  background-color: #fb7b15;
  color: white;
  border: none;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.orange-btn:hover {
  background-color: #e86b0e;
}



.fr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 150px;
    /* border: solid 2px red; */
    padding: 50px;
    background: #f4f4f4;
    position: relative;
    opacity: 0.9;
}

.main-heading{
    font-size: 25px;
    line-height: 73px;
    color: #2f2c2b;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
}
.main-text{
    font-size: 14px;
    line-height: 25px;
    color: #2a2119;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

/* ---------track--------------- */

/* -------newsletter-------------- */
.newsletter{
    background-color: #e86b0e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 20px;
    height: 75px;
    font-family: "poppins";
    font-size: 20px;
    font-weight: 800;
    gap: 50px;
    box-shadow: black
}
.newsletter2 button{
    padding: 10px 20px;
    background-color:black;
    color: white;
    border: none;
    font-family: "poppins";
    font-weight: 500;
    cursor: pointer;
}
.newsletter2 input{
    padding: 10px 20px;
    width: 300px;
    background-color:white;
    color: white;
    border: none;
    font-family: "poppins";
    font-weight: 500;
    cursor: pointer;
}
/* -------newsletter-------------- */


/* ----------map------------ */
.container-3{
    width: 100%;
}
.map{
    width: 100%;
}




/* ----------map------------ */


/* -------footer----------- */

/* -------footer----------- */
.footer {
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 10%;
    font-family: "Poppins", sans-serif;
}

.footer-section {
    width: 22%;
    margin-bottom: 30px;
    /* border: solid 1px red; */
    height: auto;
}

.footer-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

.footer-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #fb7b15;
}

.footer-text {
    font-size: 14px;
    line-height: 24px;
    color: #aaa;
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {

    margin-bottom: 12px;
    color: #aaa;
    font-size: 14px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer-list li:hover {
    color: #fb7b15;
}

.footer-list img {
    width: 60px;
    float: left;
    padding-right: 10px;
}
.f-button {
    padding: 10px 20px;
    background-color:#e86b0e;
    color: white;
    border: none;
    font-family: "poppins";
    font-weight: 500;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color:#e86b0e;
    font-size: 16px;
    text-decoration: none;
    /* transition: color 0.3s ease; */
}

/* .social-icons a:hover {
    color: #fb7b15;
} */

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 15px;
    color: #aaa;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
}

.contact-info i {
    color: #fb7b15;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 3px;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .footer-section {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .footer-section {
        width: 100%;
    }
}


/* -------footer----------- */